<h1 class="text-danger">JSFoo 9GAG</h1>
<hr/>

<div class="col-md-6">
	<form class="form">	
		{{artoo-typeahead classNames="form-control" placeholder="Search by Caption ..." content=searchResults query="query" selected="selected" 
		itemTemplate="<div class=\"pull-right\">{{votes}}</div>{{caption}} "
		}}	
	</form/>
	<br/>
	<div>
		<table class="table">
			<thead>
				<tr>
					<th>Votes</th>
					<th>Caption</th>
				</tr>
			</thead>
			<tbody>
				{{#each content itemController="posts/item"}}
					<tr>
						<td>{{votes.count}}</td>
						<td>
							{{#link-to "posts.post" this}}
								{{caption}}
							{{/link-to}}
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>	
	</div>

	
</div>
<div class="col-md-6">
	{{outlet}}
</div>